text {
  font-size: 14px;
  paint-order: stroke;
  stroke: #ffffff;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  /* font-weight: 800; */
}
.plotContainer svg.plot,
.plotContainer {
  width: 100%;
  height: 100%;
}
.plotContainer path {
  stroke-width: 1;
  fill: none;
}
.plotContainer path.plot-area-a0 {
  stroke: steelblue;
  stroke-width: 3;
}
.plotContainer path.plot-area-a1 {
  stroke: crimson;
  stroke-width: 3;
}
.plotContainer path.plot-area-d0 {
  stroke: lightcoral;
}
.plotContainer path.plot-area-d1 {
  stroke: chartreuse;
}
.plotContainer path.plot-area-d2 {
  stroke: cornsilk;
}
.plotContainer path.plot-area-d3 {
  stroke: darkmagenta;
}
.plotContainer path.plot-area-fft0 {
  stroke: rgb(4, 65, 116);
}
.plotContainer path.plot-area-fft1 {
  stroke: rgb(160, 4, 35);
}
.plotContainer path.plot-area-xy {
  stroke: rgb(3, 102, 53);
}
.plotContainer line.measureX,
.plotContainer line.measureY {
  stroke: black;
  stroke-dasharray: 5;
  stroke-width: 1;
}
.plotContainer line.measureCap {
  stroke: black;
  stroke-width: 1;
}

.plotContainer .axis .domain {
  fill: rgba(0, 0, 0, 0.2);
  stroke: grey;
  stroke-width: 2;
}
.plotContainer .axis.y text {
  font-size: 14px;
}
.plotContainer .axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  opacity: 0.3;
  stroke-dasharray: 5;
}
.plotContainer line.triggerPosHandle {
  cursor: col-resize;
}
.plotContainer line.triggerVoltageHandle {
  cursor: row-resize;
}
.plotContainer line.triggerPosHandle,
.plotContainer line.triggerVoltageHandle {
  stroke-width: 40;
  stroke: white;
  opacity: 0.03;
}
.plotContainer line.triggerPos,
.plotContainer line.triggerVoltage {
  fill: none;
  stroke-dasharray: 10;
  stroke-width: 2;
  opacity: 0.7;
}
.plotContainer line.triggerPos {
  stroke: black;
}
.plotContainer line.triggerVoltage {
  stroke: black;
}
.plotContainer line.triggerPos.active,
.plotContainer line.triggerVoltage.active {
  stroke-width: 1;
}
