body {
  /* prevent scroll bounce on body */
  overflow: hidden;
}

form {
  display: inline-block;
}

.App {
  display: flex;
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  /* no flex rules, it will grow */
  width: 100%;
}
.rs-content {
  padding: 10px;
  padding-right: 0;
}
.rs-content,
.rs-content > .rs-panel,
.rs-content .rs-panel-body {
  height: 100%;
}
.rs-sidebar {
  overflow: scroll;
  padding: 10px;
}
.rs-sidebar .rs-panel {
  margin-bottom: 10px;
}
footer {
  width: 100%;
}
.rs-panel-heading {
  padding: 10px;
}
.rs-panel-body {
  padding: 10px;
  /* padding-top: 0; */
}

.rs-panel-collapsible > .rs-panel-heading::before {
  top: 10px;
}
