.App {
  text-align: center;
  /* background-color: #394250; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* color: white; */
}
form {
  display: inline-block;
}
